.portfolio-item {
  margin-bottom: $line-height-computed;
  .port-thumb {
    position: relative;
    background-color: $brand-primary;
    .overlay-inner {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: 0;

      @include transform( scale(0) );
			@include transition(all .4s $ease-in-out-back);
      > * {
        position: absolute;
        @include center(xy);
      }
    }
    img {
      @include backface-visibility(hidden);
      @include transition(opacity, .6s);
    }
    &:hover {
      .overlay-inner {
        @include transform( scale(1) );
  			opacity: 1;
      }
      img {
        opacity: .7;
      }
    }
  }
  .port-title {
    > * {
      font-size: $font-size-large;
      padding-top: $line-height-computed;
      margin-bottom: 6px;
      @include transition(all, .2s);
    }
    &:hover {
      > *  {
        color: $brand-primary;
      }
    }
  }
  .by-name {
    > * {
      font-size: $font-size-small;
    }
  }
  @media #{$mobile-land} {
    &.col-xs-6 {
      width: 100%;
    }
  }

  .box-with-icon {
    margin-bottom: 0;
    .bwi-inner {
      padding-bottom: 0;
    }
  }
}


.portfolio-single {
  .testimonial {
    max-width: none;
  }
}

.portfolio-bar {
  .port-meta {
    span {
      font-weight: 600;
    }
  }
}
